@import "tailwindcss";

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
}

:root {
  --bg-color: #F8FAFC;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}


body {
  margin: 0;
  background-color: var(--bg-color);
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

button {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

button:hover{
  cursor: pointer;
}

button:active {
  border: none;
}